@model IEnumerable<Proyecto1.Models.Tiquete>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifaPorHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifaPorMediaHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifaPorHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifaPorMediaHora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
